<div id="calc" class="calc calc_exibir">
    <div id="calc_aba" class="calc_aba">
        <img id="img_aba_calc" src="assets/icons/arrow_right.svg" alt="">
    </div>
    <div id="calc_principal" class="calc_principal">
        <div id="div_nome" class="div_nome">
            <p>Calculadora</p>
        </div>
        <div id="div_display" class="div_display  d-flex">
            <p id="display" class="display">0</p>
        </div>
        <div id="div_teclas" class="div_teclas d-flex">
            <button id="t-clear" class="tecla clear">CL</button>
            <button id="t(" class="tecla num">(</button>
            <button id="t)" class="tecla num">)</button>
            <button id="t-cpy" class="tecla tecla-operacao cpy">CPY</button>
            <button id="t7" class="tecla num">7</button>
            <button id="t8" class="tecla num">8</button>
            <button id="t9" class="tecla num">9</button>
            <button id="tsoma" class="tecla tecla-operacao op">+</button>
            <button id="t4" class="tecla num">4</button>
            <button id="t5" class="tecla num">5</button>
            <button id="t6" class="tecla num">6</button>
            <button id="tsubtrair" class="tecla tecla-operacao op">-</button>
            <button id="t1" class="tecla num">1</button>
            <button id="t2" class="tecla num">2</button>
            <button id="t3" class="tecla num">3</button>
            <button id="tmultiplicar" class="tecla tecla-operacao op">x</button>
            <button id="t0" class="tecla num">0</button>
            <button id="tseparador" class="tecla num">,</button>
            <button id="tigual" class="tecla tecla-igual res">=</button>
            <button id="tdivisao" class="tecla tecla-operacao op">/</button>
        </div>
    </div>
</div>