<div id="footer-placeholder" class="footer-placeholder">
    <div class="bg-menu">
        <footer class="footer container">
           <p>Criado por Luiz Jurazek - 2023</p>
        </footer>
    </div>
</div>