

<link rel="stylesheet" href="../css/menu.css">
<div id="header-placeholder">
    <div class="bg-menu">
        <header class="header container">
            <div class="div-logo">
                <a href="" class="logo">
                    <img src="../assets/img/logo-jura-wallet2-nobg.png" alt="" width="80px">
                    <h1>JuraWallet</h1>
                </a>
            </div>

            <div class="menu">
                <ul class="menu-list">
                    <li class="item-menu">
                        <a href="#">Entradas</a>
                    </li>
                    <li class="item-menu">
                        <a href="#">Saídas</a>
                    </li>
                    <li class="item-menu">
                        <a href="#">Resumo</a>
                    </li>
                    <li class="item-menu" id="time">
                        <span></span>
                    </li>
                    <li class="item-menu" id="logout">
                        <span id="popup_logout" class="popup_logout">Logout</span>
                    </li>
                </ul>
            </div>
        </header>
    </div>
</div>