<div class="resume-card">
    <div class="card card-entrada bg-green" id="entradas">
        <h3>Entradas</h3>
        <div class="resume-box-value">
            <p id="value-card-entradas">00,00</p>
        </div>
    </div>
    <div class="card card-saida bg-red" id="saidas">
        <h3>Saídas</h3>
        <div class="resume-box-value">
            <p id="value-card-saidas">00,00</p>
        </div>
    </div>
    <div class="card card-total bg-blue" id="saldo">
        <h3>Saldo</h3>
        <div class="resume-box-value">
            <p>00,00</p>
        </div>
    </div>
</div>