<div class="container-stats">
    <div id="containerGraficoGeral" class="containerGraficoGeral ocultar">
        <div class="container-meses">
            <canvas id="chartMeses"></canvas>
        </div>

        <div class="container-categorias">
            <canvas id="chartCategorias"></canvas>
        </div>
    </div>

    <div id="containerGraficoMes" class="containerGraficoMes">
        <div class="container-dia">
            <canvas id="chartDias"></canvas>
        </div>

        <div class="container-categorias">
            <canvas id="chartCategoriasDia"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>