<div class="transacoes container" id="transacoes">
    <div class="transacoes-cabecalho">
        <div class="item">Nome</div>
        <div class="item">Categoria</div>
        <div class="item">Valor</div>
        <div class="item">Tipo</div>
        <div class="item">Data</div>
        <div class="item acoes"></div>
    </div>
</div>