<div class="container-data">
    <div class="container-select-data">
        <div class="form-select-by-date">
            <div class="form-item">
                <label for="mes-transacao">mês: </label>
                <select name="mes-transacao" id="mes-transacao" class="form-mes">
                    <option>-</option>
                    <option value="01">Janeiro</option>
                    <option value="02">Fevereiro</option>
                    <option value="03">Março</option>
                    <option value="04">Abril</option>
                    <option value="05">Maio</option>
                    <option value="06">Junho</option>
                    <option value="07">Julho</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
            <div class="form-item">
                <label for="ano-transacao">ano: </label>
                <select name="ano-transacao" id="ano-transacao" class="form-ano">
                    <option>-</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>
            <div class="form-item">
                <button id="buscar-transacoes" class="btn-transacoes">Buscar transações</button>
            </div>
        </div>
        <div class="form-item-btn">

            <button id="buscar-todas-transacoes" class="btn-transacoes">Todas transações</button>
        </div>

    </div>

    <table class="transacoes container">
        <thead>
            <tr class="transacoes-cabecalho">
                <th class="itemCabecalho">Nome</th>
                <th class="itemCabecalho">Categoria</th>
                <th class="itemCabecalho">Valor</th>
                <th class="itemCabecalho">Tipo</th>
                <th class="itemCabecalho">Data</th>
                <th class="itemCabecalho acoes">Ações</th>
            </tr>
        </thead>
        <tbody id="transacoes">

        </tbody>
    </table>
</div>