<table class="transacoes container" id="transacoes">
    <thead>
        <tr class="transacoes-cabecalho">
            <th class="itemCabecalho">Nome</th>
            <th class="itemCabecalho">Categoria</th>
            <th class="itemCabecalho">Valor</th>
            <th class="itemCabecalho">Tipo</th>
            <th class="itemCabecalho">Data</th>
            <th class="itemCabecalho acoes">Ações</th>
        </tr>
    </thead>
</table>