<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Controle Financeiro</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container bg-gray">
        <div class="card-login">
            <div class="user-logo">
                <img src="/assets/img/logo-jura-wallet2-nobg.png" alt="" width="180px">
            </div>
            <div id="card-info" class="card-info">
                <div class="user-info">
                    <label for="username">email</label>
                    <input type="text" name="email" id="email" required>
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="user-login">
                    <button class="login" id="login">Login</button>
                    <span>Esqueceu a senha?</span>
                </div>
            </div>
            <div id="sucess-login" class="sucess-login">
                <div class="card-checkmark">
                    <i class="checkmark">✓</i>
                    <h2>Logado com sucesso!</h2>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/login.js"></script>
</body>

</html>