.modal_export{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #090c0e34;
}

.containerExportCsv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    height: 27vh;
    background-color: #fff;
    border-radius: 5px;
}

.ocultar {
    display: none;
}