.bg-menu {
    background-color: #010101;
}

.bg-green {
    background-color: #76cc76;
    color: #fff;
}

.bg-blue {
    background-color: #78A2CC;
    color: #fff;
}

.bg-red {
    background-color: #FF6961;
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

/* div#header-placeholder {
    position: fixed;
    margin-top: 10px;
} */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .div-logo h1 {
    color: white;
}

.header .div-logo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-top: 10px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-list .item-menu {
    color: #fff;
    list-style: none;
    text-align: center;
    margin-right: 20px;
}

.header .div-logo a,
.menu-list .item-menu a,
.menu-list .item-menu span {
    text-decoration: none;
    color: white;
}
