.containerGraficoGeral,
.containerGraficoMes {
    max-height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container-meses,
.container-dia {
    display: flex;
    justify-content: center;
    width: 70vw;
}

.container-categorias {
    display: flex;
    justify-content: center;
    width: 30vw;
}

.ocultar {
    display: none !important;
}

@media (max-width: 600px) {
    .containerGraficoMes,
    .containerGraficoGeral {
        flex-direction: column;
        margin: 105px 0 105px 0;
    }

    .container-dia,
    .container-categorias,
    .container-meses {
        width: 100%;
    }
  }