* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f3f3;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .resume-card {
        flex-direction: column;
        padding-top: 10px;
        height: 100%;
    }
    
    .resume-card .card {
        width: 100%;
        margin-bottom: 20px;
        
    }

    .form-itens {
        flex-direction: column;
    }

    .form-itens .form-item {
        width: 100%;
    }

    .form-cadastro .form-itens input, 
    .form-cadastro .form-itens select {
        height: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .form-itens {
        flex-wrap: wrap;
    }
}