* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f3f3;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


.resume-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    height: 120px;
}

.resume-card .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 30%;
    height: 100px;
}

.resume-box-value {
    display: flex;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.form-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-itens .form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding-right: 10px; */
    width: 19%;
}

.form-category, .form-tipo, .form-data {
    cursor: pointer;
}

.form-itens .form-item label {
    font-weight: bold;
}

.form-cadastro .form-itens input,
.form-cadastro .form-itens select {
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 0;
    border: 0;
}

.form-cadastro .form-itens #valor {
    text-align: right;
}

.form-cadastro .form-itens #valor_transacao::-webkit-outer-spin-button,
.form-cadastro .form-itens #valor_transacao::-webkit-inner-spin-button,
.form-item-editar input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form-cadastro .cadastrar {
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #0c0e0fc7;
    /* margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px; */
    height: 30px;
    outline: 0;
    border: 0;
}

.form-cadastro .cadastrar:hover {
    background-color: #090c0e;
}

.transacoes {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    margin-top: 35px;
    /* height: 300px;
    overflow-y: auto; */
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
}

.transacoes .transacoes-item {
    display: flex;
    /* flex-direction: row;
    justify-content: flex-start; 
    align-items: center; 
    margin: 10px 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f3f3f3; */
}

.transacoes-cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: #090c0e;
    color: #fff;
    padding: 8px 10px;
}

.itemCabecalho {
    text-align: left;
    flex: 1;
}

.transacoes .item {
    text-align: left;
    flex: 1;
    border: 1px solid #cccccc;
    padding: 5px;
}

.transacoes .acoes {
    display: flex !important;
    justify-content: flex-end;
}

.transacoes .acoes img {
    margin-left: 15px;
}

.transacoes .saida {
    color: red;
}

.btnDelete, .btnEdit {
    cursor: pointer;
}


.excluirItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #090c0e34;
    z-index: 999;
}

.modalDelete {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 40vh;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
}

.modalMsg {
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
}


.modalItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
}

.modalItem .item {
    margin-bottom: 5px;
}

.btnModal {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btnModal button {
    width: 40%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
} 

.btn_excluir {
    background-color: #e2504c;
}

.btn_cancelar {
    background-color: #78A2CC;
}

.ocultar {
    display: none !important; 
}

/* Editar transacao */
.editarTransacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #090c0e34;
}

.editarTransacaoForm {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 40vw;
    height: 75vh;
    background-color: #fff;
    border-radius: 5px;
}

.editarCabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border-bottom: 1px solid #f3f3f3; */
    text-align: center;
    height: 15%;
}

.editarCabecalho h3 {
    margin-bottom: 10px;
}

.itemTransacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.itemTransacao .form-item-editar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-item-editar input, .form-item-editar select {
    outline: none;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 0;
    border: 1px solid #f3f3f3;
    /* background-color: #f3f3f3; */
}

.form-item-editar label {
    font-weight: bold;
    margin-bottom: 5px;
}


.modalEditar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15%;
}
.btn_editar_transacao {
    height: 30px;
    background-color: #5dc460;
}

.btn_cancelar_edicao {
    height: 30px;
    background-color: #78A2CC;
}

.transacoes-date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

hr {
    width: 100%;
    border-color: #f3f3f3;
}

@media only screen and (max-width: 600px) {
    .resume-card {
        flex-direction: column;
        padding-top: 10px;
        height: 100%;
    }
    
    .resume-card .card {
        width: 100%;
        margin-bottom: 20px;
        
    }

    .form-itens {
        flex-direction: column;
    }

    .form-itens .form-item {
        width: 100%;
    }

    .form-cadastro .form-itens input, 
    .form-cadastro .form-itens select {
        height: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .form-itens {
        flex-wrap: wrap;
    }
}