.container-select-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0e0fc7;
    height: 55px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.container-select-data label {
    margin-right: 15px;
}

.form-select-by-date {
    display: flex;
    justify-content: space-between;
}

.form-select-by-date .form-item {
    margin-right: 15px;
}


.form-item .form-ano,
.form-item .form-mes {
    width: 10vw;
    text-align: center;
    outline: none;
    background-color: #353535;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-item .form-ano:hover,
.form-item .form-mes:hover,
.btn-transacoes:hover {
    background-color: #090c0e;
}

.form-item-btn {
    display: flex;
}

.btn-transacoes {
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    outline: 0;
    border: 0;
    padding: 5px;
    background-color: #353535;
    margin-left: 10px;
}

.form-item select {
    border-radius: 5px;
    padding: 5px;
}

.container-data {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.transacoes {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.transacoes .transacoes-item {
    display: flex;
}

.transacoes-cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: #0c0e0fc7;
    color: #fff;
    padding: 8px 10px;
}

.itemCabecalho {
    text-align: left;
    flex: 1;
}

.transacoes .item {
    text-align: left;
    flex: 1;
    border: 1px solid #cccccc;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transacoes .acoes {
    display: flex !important;
    justify-content: flex-end;
}

.transacoes .acoes img {
    margin-left: 15px;
}

.transacoes .saida {
    color: red;
}

.btnDelete,
.btnEdit {
    cursor: pointer;
}