.modal_upload_massivo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #090c0e34;
}

.containerUploadCsv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 20vh;
    background-color: #fff;
    border-radius: 5px;
}

.csv-upload-form {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 15px;
}

.btnFileInput {
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #0c0e0fc7;
    height: 30px;
    width: 100%;
    outline: 0;
    border: 0;
}

.btnFileInput:hover {
    background-color: #090c0e;
}

.csvFileInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.csvFileInput input {
    cursor: pointer;
}

.btn_cancelar {
    width: 40%;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn_cancelar:hover {
    background-color: #5b91c7;
}