<div id="excluirItemContainer" class="excluirItemContainer ocultar">
    <div class="modalDelete">
        <div class="modalMsg">
            <h3>Deseja excluir o item?</h3>
        </div>
        <div class="modalItem">
            <div class="item" id="modalItemNome"></div>
            <div class="item" id="modalItemCategoria"></div>
            <div class="item" id="modalItemValor"></div>
            <div class="item" id="modalItemTipo"></div>
            <div class="item" id="modalItemData"></div>
        </div>

        <div class="btnModal">
            <button id="btn_excluir" class="btn_excluir">Excluir</button>
            <button id="btn_cancelar" class="btn_cancelar">cancelar</button>
        </div>
    </div>
</div>