<div id="modal_export" class="modal_export ocultar">
    <div class="containerExportCsv">
        <div class="cabecalho-export">
            <p><strong>Exportar transações</strong></p>
        </div>
        <div class="main-export">
            <div class="container-export-all">
                <button id="btn_export_all_transacoes" class="btn_export_all_transacoes">
                    Exportar todas as transações
                </button>
            </div>
            <div class="container-export-mes">
                <div class="form-item">
                    <label for="mes-transacao">mês: </label>
                    <select name="mes-transacao" id="mes-transacao-export" class="form-mes">
                        <option>-</option>
                        <option value="01">Janeiro</option>
                        <option value="02">Fevereiro</option>
                        <option value="03">Março</option>
                        <option value="04">Abril</option>
                        <option value="05">Maio</option>
                        <option value="06">Junho</option>
                        <option value="07">Julho</option>
                        <option value="08">Agosto</option>
                        <option value="09">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </div>
                <div class="form-item form-item-ano">
                    <label for="ano-transacao">ano: </label>
                    <select name="ano-transacao" id="ano-transacao-export" class="form-ano">
                        <option>-</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                </div>
            </div>
            <div class="container-export-mes">
                <button id="btn_export_mes_transacoes" class="btn_export_mes_transacoes">
                    Exportar todas as transações do mês selecionado
                </button>
            </div>
            <div id="containerDownload" class="containerDownload"></div>
        </div>
        <div class="footer-export">
            <button id="btn_cancelar_export" class="btn_cancelar_export">Cancelar</button>
        </div>
    </div>
</div>