<div id="modal_logout" class="modal_logout ocultar">
    <div class="container_logout">
        <div>
            <h4>Deseja sair?</h4>
        </div>
        <div class="btnModal">
            <button id="btn_logout" class="btn_logout">Sim</button>
            <button id="btn_cancelar_logout" class="btn_cancelar">Não</button>
        </div>
    </div>
</div>