<div id="modal_upload_massivo" class="modal_upload_massivo ocultar">
        <div class="containerUploadCsv">
            <h4>Importe suas transações: </h4>
            <a href="http://localhost:8080/templates/template-upload-massivo-jurawallet.csv" download>Faça o download do template para uploads massivos.</a>
            <form id="csv-upload-form" class="csv-upload-form">
                <div class="csvFileInput">
                    <input type="file" name="csvFile" id="csvFileInput">
                </div>
                <button type="submit" class="btnFileInput">Enviar CSV</button>
            </form>

            <button id="btn_cancelar_upload" class="btn_cancelar">Cancelar</button>
            
        </div>
</div>