<div id="modal_excluir_categoria" class="modal_excuir_categoria ocultar">
    <div class="container_excluir_categoria">
        <div>
            <h4>Deseja excluir a categoria?</h4>
            <span id="categoriaSpan"></span>
        </div>
        <div class="btnModal">
            <button id="btn_excluir_categoria" class="btn_excluir">Sim</button>
            <button id="btn_cancelar_categoria" class="btn_cancelar">Não</button>
        </div>
    </div>
</div>